openapi: 3.0.1
info:
  title: IssueTracker APIs
  version: 1.0.0
servers:
  - url: 'https://apigatewaydev.adient.com/v1/issuetracker'
    description: Development
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigatewayqa.adient.com/v1/issuetracker'
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigateway.adient.com/v1/issuetracker'
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
security:
  - ApiKeyAuth: []
paths:
  /IssuesByProgram:
    post:
      tags:
        - Get and Create Issues
      summary: Get and Create Issues
      description: This endpoint is used to get and create issues. The below details are for getting the issues by Launch and Program Id
      operationId: GetIssuesByProgramIdLaunchId
      parameters:
        - name: programid
          in: query
          description: Program Id
          required: true
          schema:
            type: number
            example: 3739372
        - name: launchid
          in: query
          description: Launch Id
          required: true
          schema:
            type: number
            example: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                required:
                  - Issuess
                  - autoProgramName
                  - productLaunchId
                  - programBaseId
                  - programId
                type: object
                properties:
                  programBaseId:
                    type: number
                  programId:
                    type: number
                  autoProgramName:
                    minLength: 1
                    type: string
                  productLaunchId:
                    type: number
                  Issuess:
                    minItems: 1
                    uniqueItems: true
                    type: array
                    items:
                      required:
                        - CalculateGUID
                        - externalShare
                        - functionalArea
                        - impactType
                        - interimCorrectiveAction
                        - issueCreatedBy
                        - issueCreatedDate
                        - issueDescription
                        - issueId
                        - issuePlannedClosedDate
                        - issueResponsible
                        - permanentCorrectiveAction
                        - priority
                        - problemStatement
                        - programTop5
                        - risk
                        - rootCause
                        - state
                      type: object
                      properties:
                        issueId:
                          type: number
                        issueCreatedDate:
                          minLength: 1
                          type: string
                        issueCreatedBy:
                          minLength: 1
                          type: string
                        risk:
                          minLength: 1
                          type: string
                        priority:
                          minLength: 1
                          type: string
                        state:
                          minLength: 1
                          type: string
                        issueDescription:
                          minLength: 1
                          type: string
                        problemStatement:
                          minLength: 1
                          type: string
                        rootCause:
                          minLength: 1
                          type: string
                        interimCorrectiveAction:
                          minLength: 1
                          type: string
                        permanentCorrectiveAction:
                          minLength: 1
                          type: string
                        issueResponsible:
                          minLength: 1
                          type: string
                        issuePlannedClosedDate:
                          minLength: 1
                          type: string
                        externalShare:
                          minLength: 1
                          type: string
                        programTop5:
                          minLength: 1
                          type: string
                        impactType:
                          minLength: 1
                          type: string
                        functionalArea:
                          minLength: 1
                          type: string
                        CalculateGUID:
                          minLength: 1
                          type: string
                description: ''
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
  /IssuesByGuid:
    post:
      tags:
        - Get Issues
      summary: Get Issues by Created By
      description: Get Issues by Created By Global Id
      operationId: GetIssuesByGuid
      parameters:
        - name: createdby
          in: query
          description: Created By Global Id
          required: true
          schema:
            type: string
            example: globalid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                minItems: 1
                uniqueItems: true
                type: array
                description: ''
                items:
                  required:
                    - Issuess
                    - autoProgramName
                    - productLaunchId
                    - programBaseId
                    - programId
                  type: object
                  properties:
                    programBaseId:
                      type: number
                    programId:
                      type: number
                    autoProgramName:
                      minLength: 1
                      type: string
                    productLaunchId:
                      type: number
                    Issuess:
                      minItems: 1
                      uniqueItems: true
                      type: array
                      items:
                        required:
                          - CalculateGUID
                          - Complete_Percentage
                          - RevisedClosedDate
                          - externalShare
                          - functionalArea
                          - impactType
                          - interimCorrectiveAction
                          - issueCreatedBy
                          - issueCreatedDate
                          - issueDescription
                          - issueId
                          - issuePlannedClosedDate
                          - issueResponsible
                          - permanentCorrectiveAction
                          - priority
                          - problemStatement
                          - programTop5
                          - risk
                          - rootCause
                          - state
                        type: object
                        properties:
                          issueId:
                            type: number
                          issueCreatedDate:
                            minLength: 1
                            type: string
                          issueCreatedBy:
                            minLength: 1
                            type: string
                          risk:
                            minLength: 1
                            type: string
                          priority:
                            minLength: 1
                            type: string
                          state:
                            minLength: 1
                            type: string
                          issueDescription:
                            minLength: 1
                            type: string
                          problemStatement:
                            minLength: 1
                            type: string
                          rootCause:
                            minLength: 1
                            type: string
                          interimCorrectiveAction:
                            minLength: 1
                            type: string
                          permanentCorrectiveAction:
                            minLength: 1
                            type: string
                          issueResponsible:
                            minLength: 1
                            type: string
                          issuePlannedClosedDate:
                            minLength: 1
                            type: string
                          externalShare:
                            minLength: 1
                            type: string
                          programTop5:
                            minLength: 1
                            type: string
                          RevisedClosedDate:
                            minLength: 1
                            type: string
                          impactType:
                            minLength: 1
                            type: string
                          functionalArea:
                            minLength: 1
                            type: string
                          CalculateGUID:
                            minLength: 1
                            type: string
                          Complete_Percentage:
                            minLength: 1
                            type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
  /IssuesCountByStatus:
    post:
      tags:
        - Get Issues
      summary: Get Issue Counts by Status
      description: Get Issues By Status
      operationId: IssuesCountByStatus
      parameters:
        - name: programid
          in: query
          description: Program Id
          required: true
          schema:
            type: number
            example: 1016062
        - name: launchid
          in: query
          description: Launch Id
          required: true
          schema:
            type: number
            example: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                required:
                  - closedissues
                  - delayedissues
                  - launchId
                  - openissues
                  - programId
                type: object
                properties:
                  programId:
                    type: number
                  launchId:
                    type: number
                  openissues:
                    type: number
                  closedissues:
                    type: number
                  delayedissues:
                    type: number
                description: ''
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
  /Issue:
    post:
      tags:
      - Create Issues
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Program_2'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource        
      x-codegen-request-body-name: updateIssueObj
  /IssueStatisticsEngineering:
    post:
      tags:
      - Get Issue Statistics
      parameters:
      - name: ProgramId
        in: query
        schema:
          type: integer
      - name: LaunchId
        in: query
        schema:
          type: integer
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource                
  /IssueStatisticsBasedOnFA:
    post:
      tags:
      - Get Issue Statistics
      parameters:
      - name: ProgramId
        in: query
        schema:
          type: integer
      - name: LaunchId
        in: query
        schema:
          type: integer
      - name: FunctionalArea
        in: query
        schema:
          type: string          
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource                
  /IssuesEnabledtoLLDB:
    post:
      tags:
      - Get Issues
      parameters:
      - name: TimeStamptoGetIssuestoLLDB
        in: query
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object         
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource  
  /GetImage:
    post:
      tags:
      - Get Image
      parameters:
      - name: IssueFileGID
        in: query
        schema:
          type: integer
      responses:
        200:
          description: successful operation
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource                     
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    Program_2:
      title: Program
      type: object
      properties:
        programBaseId:
          type: integer
          format: int32
        programId:
          type: integer
          format: int32
        autoProgramName:
          type: string
        productLaunchId:
          type: integer
          format: int32
        Issuess:
          type: array
          items:
            title: Issues
            type: object
            properties:
              issueId:
                type: integer
                format: int32
              issueCreatedDate:
                type: string
                format: date-time
              issueCreatedBy:
                type: string
              risk:
                type: string
                enum:
                - TBD
                - N_A
                - R
                - Y
                - G
                - B
              priority:
                type: string
                enum:
                - Safety
                - A
                - B
                - C
              state:
                type: string
                enum:
                - OPEN
                - CLOSED
                - Cancelled
              issueDescription:
                type: string
              problemStatement:
                type: string
              rootCause:
                type: string
              interimCorrectiveAction:
                type: string
              permanentCorrectiveAction:
                type: string
              issueResponsible:
                type: string
              issuePlannedClosedDate:
                type: string
                format: date-time
              issueActualClosedDate:
                type: string
                format: date-time
              externalShare:
                type: string
                enum:
                - Yes
                - No
              programTop5:
                type: string
                enum:
                - Yes
                - No
              copqValue:
                type: number
              plantTop5:
                type: string
                enum:
                - P1
                - P2
                - P3
                - P4
                - P5
              RevisedClosedDate:
                type: string
                format: date-time
              initiatedBy:
                type: string
                enum:
                - Customer
                - Adient
                - Supplier
              functionalArea:
                type: string
                enum:
                - Commercial
                - Engineering
                - Finance
                - Industrial_Design
                - Manufacturing
                - Materials
                - Quality
                - Customer
                - Engineering_SMTE_Products
                - General_Management
                - Launch_Management
                - Plant_Operations
                - Purchasing
                - Supplier
                - Program_Management
              Actions:
                type: array
                items:
                  title: Action
                  type: object
                  properties:
                    plannedCloseDate:
                      type: string
                      format: date-time
                    revisedCloseDate:
                      type: string
                      format: date-time
                    actualCloseDate:
                      type: string
                      format: date-time
                    actionStepDescription:
                      type: string
                    actionStepState:
                      type: string
                      enum:
                      - OPEN
                      - CLOSED
                      - Cancelled
                    actionStepResponsible:
                      type: string
                    actionStepCreatedBy:
                      type: string
                    actionStepCreatedDate:
                      type: string
                      format: date-time
                  xml:
                    name: Action
              Commentss:
                type: array
                items:
                  title: Comments
                  type: object
                  properties:
                    comment:
                      type: string
                    addedBy:
                      type: string
                    createdOn:
                      type: string
                      format: date-time
                  xml:
                    name: Comments
              ActionNotes:
                type: array
                items:
                  title: ActionNote
                  type: object
                  properties:
                    note:
                      type: string
                    addedby:
                      type: string
                  xml:
                    name: ActionNote
              Complete_Percentage:
                type: string
                enum:
                - _0
                - _25
                - _50
                - _75
                - _100
            xml:
              name: Issues
      xml:
        name: Program